{if $flag == 0}
    {if $direct}
        {$direct}
    {else}
        {if $tag == 0}
            <a href="/tenders/banerRedirect?link={$link}"><img src="{$baner}"/></a>
        {else}
            <a href="/tenders/banerRedirect?link={$link}">
            <object width="950" height="120">
                <param name="banerhoriz" value="{$baner}">
                <embed src="{$baner}" width="950" height="120">
                </embed>
            </object>
            </a>
        {/if}
    {/if}
    <br/><br/>
{else}
    {if $direct}
        {$direct}
    {else}
        <table>
            <tr>
                <td width="481">
                    {if $direct1}
                        {$direct1}
                    {else}
                        {if $tag1 == 0}
                            <a href="/tenders/banerRedirect?link={$link1}">
                                <img src="{$baner1}"/>
                            </a>
                        {else}
                            <a href="/tenders/banerRedirect?link={$link1}"> 
                            <object width="468" height="120">
                                <param name="banerhoriz1" value="{$baner1}">
                                <embed src="{$baner1}" width="468" height="120">
                                </embed>
                            </object>
                            </a>
                        {/if}
                    {/if}
                </td>
                <td>
                    {if $direct2}
                        {$direct2}
                    {else}
                        {if $tag2 == 0}
                            <a href="/tenders/banerRedirect?link={$link2}"><img src="{$baner2}"/></a>
                        {else}
                            <a href="/tenders/banerRedirect?link={$link}">
                            <object width="468" height="120">
                                <param name="banerhoriz2" value="{$baner2}">
                                <embed src="{$baner2}" width="468" height="120">
                                </embed>
                            </object>
                            </a>
                        {/if}
                    {/if}
                </td>
            </tr>
        </table>
    {/if}
    <br/><br/>
{/if}