<h2>Оповещение о выставлении счёта</h2>
Напоминаем вам, о выставлении счёта по тарифу <b>{$tarif}</b> для оплаты услуг информационного сайта
<a href="{$conf.pref.link_base_http}">Мультитендер.ру</a> на сумму <b>{$summa}</b> рублей.
<br />
Для того, что бы оплатить счёт вы должны в меню пользователя, выбрать пункт <a href="/tenders/?action=billing&task=exhibit">"мои платежи"</a>.
<br />
1. Зайти в <a href="http://multitender.ru/tenders/cabinet">Личный кабинет</a>;<br />
2. В разделе "Ваш баланс" кликнуть на ссылку "<a href="http://multitender.ru/tenders/billing/?task=exhibit">Мои платежи</a>";<br />
3. В разделе "<a href="http://multitender.ru/tenders/billing/?task=exhibit">Мои платежи</a>" вы увидите выставленные вами счета. В случае оплаты по безналичному расчету, у нужного счета (скорее всего, самый верхний) нажмите кнопку "Распечатать", распечатайте счет и оплатите его. В случае электронного платежа, у нужного счета (скорее всего, самый верхний) нажмите кнопку "Оплатить счет". Вы будете перенаправлены на сервис "Робокасса", где, следуя инструкциям, произведите платёж.<br />
{*На странице будут показаны ваши выставленные счёта и их статус, в зависимости, от выбранного вами типа оплаты при выставлении счёта,
в крайней правой колонки таблицы, будет предложено, <b>распечатать</b> договор или кнопка <b>оплатить в Робокассе</b>.
<br />
Обращаем ваше внимание, на то, что вы должны быть авторизованы в системе.*}
<br />
<br />
<div style="background-color: #CCCCCC;">
    ---
    <br />
    Рассылка производится: <a href="{$conf.pref.link_base_http}">{$conf.pref.site_name}</a>.
    <br />
    Подписан адрес: {$login} &lt;{$email}&gt;
</div>