<h1>Аналитика</h1>

<div class='mt_boxwhite'>
    <div class='tabs'>
        <ul>
            <li><a href="#reg"><span>по Регионам</span></a></li>
            <li><a href="#cus"><span>по Заказчикам</span></a></li>
        </ul>

        <div id="reg">{$regions}</div>
        <div id="cus">{$customer}</div>
    </div>
</div>