<form method="get">
    <input type="hidden" name="action" value="view" />

{foreach from=$hidden item=item }
    <input type="hidden" name="{$item.name}" value="{$item.value}" />
{/foreach}

<input type="hidden" name="search[main]" value="111" />

<input type="submit" value="Поиск:" />
<input type="text" name="search[main]" value='{$search.main}' size="99" />

</form>

{$form_info}

<br />

<a href="{$link_ext}" > Расширенный поиск </a> / 
<a href="{$link_empty}" > Новый поиск </a>

<br />