<div id='tab1' class="tabs" title="Заявка на тендерный кредит">
    <b>Заявка на тендерный кредит</b>
    {if !$send}
    
    <form  name='form_mail1' action="/tenders/gosexpress?page={$smarty.get.page}" method="post" id="cForm">

        {if $messageError}<div class="error">{$messageError}</div>{/if}
        
           <input type="hidden" name="act" value="y1" />
        <p><label class="lbl">Наименование организации</label>
            <input id="name_org1" class="textbox" name="name_org1" type="text" value="{if $data.name_org1}{$data.name_org1}{/if}" /></p>
        <p><label class="lbl">Размер обеспечения заявки на участие</label>
            <input id="razmer1" class="textbox" name="razmer1" type="text" value="{if $data.razmer1}{$data.razmer1}{/if}" /></p>
        <p><label class="lbl">Дата окончания приема заявок </label>
            <input id="data1" class="textbox" name="data1" type="text" value="{if $data.data1}{$data.data1}{/if}" /></p>
        <p><label class="lbl">Контактное лицо<strong>*</strong></label>
            <input id="fio1" class="textbox" name="fio1" type="text" value="{if $data.fio1}{$data.fio1}{/if}" /></p>
        <p><label class="lbl">Контактный телефон<strong>*</strong></label>
            <input id="tel1" class="textbox" name="tel1" type="text" value="{if $data.tel1}{$data.tel1}{/if}" /></p>
        <p><label class="lbl">E-mail</label>
            <input id="email1" class="textbox" name="email1" type="text" value="{if $data.email1}{$data.email1}{/if}" /></p>
        <p><label>Дополнительная информация</label><br />
            <textarea name="dop_info1" rows="" cols="">{if $data.dop_info1}{$data.dop_info1}{/if}</textarea></p>
        <br>
        <p><input class="button" type="submit" value="Отправить" /></p>

        <div id="footer2">Поля, отмеченные <strong>*</strong>, обязательны к заполнению.</div>

    </form>
    {else}
    <p>Ваше сообщение успешно отправлено</p>
    {/if}
</div>