Новая онлайн заявка на Поручительство с сайта http://multitender.ru/ <br>
<b>Полное наименование организации:</b> {$data.name_org1}<br>
<b>Госзаказчик:</b> {$data.gos_zak1}<br>
<b>Предмет госконтракта:</b> {$data.predmet1}<br>
<b>Цена госконтракта (с разбивкой по лотам):</b> {$data.cenagos1}<br>
<b>Размер обеспечения исполнения госконтракта:</b> {$data.razmer1}<br>
<b>Срок действия госконтракта:</b> {$data.srok1}<br>
<b>Обеспечение гарантийного периода:</b> {$data.obespech1}<br>
<b>Отношение к конкурсу (аукциону):</b> {$data.konkurs1}<br>
<b>Контактное лицо:</b> {$data.fio1}<br>
<b>Контактный телефон:</b> {$data.tel1}<br>
<b>E-mail:</b> {$data.email1}<br>
<b>Дополнительная информация:</b>{$data.dop_info1}<br>
