Новая заявка на Тендерный кредит с сайта http://multitender.ru/ <br>
<b>Наименование организации:</b> {$data.name_org1}<br>
<b>Размер обеспечения заявки на участие:</b> {$data.razmer1}<br>
<b>Дата окончания приема заявок:</b> {$data.data1}<br>
<b>Контактное лицо:</b> {$data.fio1}<br>
<b>Контактный телефон:</b> {$data.tel1}<br>
<b>E-mail:</b> {$data.email1}<br>
<b>Дополнительная информация:</b>{$data.dop_info1}<br>
