Новая онлайн заявка на Кредит на исполнение государственного контракта с сайта http://multitender.ru/ <br>
<b>Наименование организации:</b> {$data.name_org1}<br>
<b>Сумма запрашиваемого кредита:</b> {$data.summa_z1}<br>
<b>Срок кредита:</b> {$data.srok_k1}<br>
<b>Сумма по госконтракту:</b> {$data.summa_g1}<br>
<b>Срок госконтракта:</b> {$data.srok_g1}<br>
<b>Контактное лицо:</b> {$data.fio1}<br>
<b>Контактный телефон:</b> {$data.tel1}<br>
<b>E-mail:</b> {$data.$backaddress}<br>
<b>Дополнительная информация:</b><br>{$data.dop_info1}<br>
