{include file="statistics_menu.tpl"}
<a href="?action=kostyl&amp;type=search">SEARCH</a> /
<a href="?action=kostyl&amp;type=feed">FEED (notbots)</a> / <a href="?action=kostyl&amp;type=feed&amp;who=bots">FEED (bots)</a> /
<a href="?action=kostyl&amp;type=detail_last">DETAIL?</a>
<br />
Всего: {$total} | {$scrol}
<table class="left" style="border:1px dashed green;" cellpadding="0" cellspacing="0" width="100%">

<tr  align="left" bgcolor="#FFBBBB" style="border:1px dashed green;">
    <th>Искали</th>
    <th>Доп. поиск</th>
    <th>Кто?</th>
    <th>Было найдено</th>
    <th>Время, мсек</th>
    <th>Когда</th>
</tr>

{foreach from=$items item=item}
<tr align="left" bgcolor="{cycle values="#eeeeee,#dddddd"}" >
    <td>{$item.search.main|escape}</td>
    <td>{$item.search_txt}</td>
    <td>{$item.user_name}({$item.user_id})</td>
    <td>{$item.total}</td>
    <td>{$item.mtime}</td>
    <td>{$item.date_add}</td>
</tr>
{/foreach}

</table>

Всего: {$total} | {$scrol}
