<table class="left" style="border:1px dashed green;" cellpadding="0" cellspacing="0" width="95%">
{foreach from=$items item=i}
    <tr table="left" bgcolor="{cycle values="#eeeeee,#dddddd"}">
        <td>{$i.name}</td>
        <td>{$i.link}</td>
    </tr>
{/foreach}
</table>
