<div style="width: 100%; height: 30px; line-height: 30px; border: 3px solid #FF0000; background-color: #550000; color: #FFF">
    Пожалуйста, войдите под своим <b>логином</b> (адрес электронной почты) и <b>паролем</b> , если они у вас есть, либо <a href="component/user/?task=register" style="color: yellow">зарегистрируйтесь</a>.
</div>