<div style="width: 100%; height: 30px; line-height: 30px; border: 3px solid #FF0000; background-color: #550000; color: #FFF">
    У вас не достаточно прав для просмотра данной страницы. Вы можете вернуться <a href="{$conf.pref.link_base_http}" style="color: yellow">НА ГЛАВНУЮ</a>
</div>