{if $alert}
<hr />
<H3><a href="{$link}action=card_user&task=fullcard_show&user_id={$alert}">РЕЖИМ ПРОСМОТРА АККАУНТА ID {$alert}</a></H3>
<hr />
{/if}
{if $items}
<div class="personal_menu">
{foreach from=$items item=item}
<div class="personal_menu_item" style="background: {if $item.img}url({$item.img}){else}none{/if} no-repeat left center">
    <a href="{$item.href}">{$item.name}</a>
</div>
{/foreach}
</div>
{/if}

{*{if $payment}
<br />
<center><a href="/bonus"><img src="http://www.telekom.org.ru/images/tender-consalt/banner_free.gif" alt="Баннер" /></a></center>
{/if}
*}