<div>Вместе с &laquo;<b>{$main}</b>&raquo; ищут</div>
<ul>
{foreach from=$searchers item=search}
<li><a href="{$link_base}search[main]={$search.main}" title="{$search.main}">{$search.view}</a></li>
{/foreach}
</ul>