{if $payment}
<div id="sidebar_info">
    <div id="sidebar_info_payment">
        <b>Специальное предложение для наших подписчиков!</b>
        Находите сервис полезным и хотите пользоваться им впредь?
        Пришлите отзыв о работе с {$conf.pref.site_name} и получите две недели доступа бесплатно!
        Если вас заинтересовало данное предложение:
        <ul>
            <li>напишите на официальном бланке вашей компании отзыв о работе с сервисом (чем он вам полезен, почему вы выбираете именно его)</li>
            <li>заверьте его печатью фирмы и подписью ответственного лица, дабы он имел официальный статус</li>
            <li>вышлите отсканированный отзыв на электронный адрес support@multitender.ru. В письме укажите ваше имя пользователя в системе.</li>
        </ul>
    </div>
</div>
{/if}