<div id='rss-steams'>
    <img src="/templates/mt/img/rss.png" alt="rss" /><b>RSS потоки:</b>
    <a href="{$feed_link}" rel="nofollow" target="_blank">Читать RSS поток</a>
    <a href="http://lenta.yandex.ru/settings.xml?name=feed&amp;url={$feed_link|escape:'url'}" rel="nofollow" target="_blank">Читать в Яндекс.Ленте</a>
    <a href="http://fusion.google.com/add?feedurl={$feed_link|escape:url}" rel="nofollow" target="_blank">Добавить в Google Reader</a>
</div>

<div id='widgets'>
    <img src="/templates/mt/img/she.png" alt="widgets" /><b>Виджеты:</b>
    <a href="http://fusion.google.com/add?source=atgs&amp;feedurl={$feed_link|escape:url}" rel="nofollow" target="_blank">Виджет для Google</a>
    <a href="http://www.yandex.ru?add={$region.ya_widget_id}" target="_blank" rel="nofollow">Виджет для Яндекса</a>
    <a href="http://www.yandex.ru/catalog/?text=multitender" rel="nofollow" target="_blank">Каталог виджетов</a>    
</div>