<div id="tag_clound_{$type}">
{if $noindex}<noindex>{/if}
    {foreach from=$tags item=tag}
        <span style='font-size: {$tag.px}px; margin-right: 8px;'>
        {if $type=="type"}<a href='{$link}search[type][{$tag.id}]'>{$tag.name}</a>{/if}
    {if $type=="regs"}<a href='{$link}search[reg][{$tag.id}]'>{$tag.name}</a>{/if}
{if $type=="quer"}<a href='{$link}search[main]={$tag.name|escape:url}'>{$tag.name}</a>{/if}
</span>
{/foreach}
{if $noindex}<noindex>{/if}
</div>

