body,html{
background:#fff url(../images/bgtop.jpg) repeat-x top left;
margin:0;
padding:0;
font-family:Arial, Verdana, Tahoma;
color:#525252;
font-size:12px;
height:100%;
min-height:100%;
}
#globaldiv{
width:100%;
min-width:1000px;
min-height:100%;
max-width:3000px;
}
#header{
width:100%;
height:116px;

}
	#logo{
	width:640px;
	height:86px;
	float:left;
	padding:30px 0 0 30px;
	}
	a.logotype{
	display:block;
	font-size:33px;
	color:#8b54a7;
	font-family:Georgia;
	text-decoration:none;
	}
	a.logotype:link,
	a.logotype:visited,
	a.logotype:hover{color:#8b54a7;text-decoration:none;}
	span.slogan{
	font-size:19px;
	font-family:Arial;
	color:#4b6772;
	line-height:35px;
	
	}
	#contacts{
	width:220px;
	height:100px;
	float:right;
	padding:16px 0 0;
	}
	#contacts .icons{
	float:left;
	width:160px;
	text-align:right;
	padding-left:60px;
	}
	#contacts .phones{
	font-family:Arial;
	font-weight:bold;
	font-size:25px;
	color:#4b6772;
	line-height:50px;
	float:left;
	}
	#contacts .phones small{
	font-size:16px;
	color:#8b54a7;
	}
#topmenu{
height:24px;
line-height:24px;
margin-left:200px;
text-align:center;
}
	#topmenu ul{
	list-style:none;
	margin:0 auto;
	}
	#topmenu li{
	display:inline;
	padding:0 30px;
	border-left:1px solid #4b6772;
	color:#4b6772;
	font-size:12.5px;
	font-family:Arial;
	}
	#topmenu li.item28{
	border-left:0;
	}
	#topmenu li a:link,
	#topmenu li a:visited,
	#topmenu li a:hover{
	color:#4b6772;
	text-decoration:none;
	}
	#topmenu li#current a:link,
	#topmenu li#current a:visited,
	#topmenu li#current a:hover{
	color:#42baff;
	text-decoration:none;
	font-weight:bold;
	}
#mainwrapper{
width:100%;
margin-top:30px;
display:table;
padding-bottom:150px;
}
#mainwrapper .lsidebar{
display:table-cell;
vertical-align:top;
width:240px;
margin:0 10px 0 0;
padding:0 15px;
}
#mainwrapper .centerpart{
display:table-cell;
vertical-align:top;
padding-right:20px;
}
#mainwrapper .rsidebar{
display:table-cell;
vertical-align:top;
width:230px;
margin:0 0 0 10px;
padding:0 15px 0 5px;
}
#footer{
width:100%;
height:150px;
background:transparent url(../images/bgbot.jpg) repeat-x bottom left;
margin-top:-150px;
display:table;
}
#footer .fleft{
display:table-cell;
vertical-align:middle;
height:150px;
padding-left:25px;
float:none;
}
#footer .fright{
display:table-cell;
vertical-align:middle;
width:200px;
padding:0 25px 0 50px;
height:150px;
float:none;
}

/* IconSet */
.icons ul{
list-style:none;
margin:0;
padding:0;
text-align:right;
}
.icons li{
list-style:none;
float:left;
margin:0 10px;
}
.icons li#current{
background:url(../images/ico_bg.gif) no-repeat 0 0;
}
@media all and (-webkit-min-device-pixel-ratio:10000),
not all and (-webkit-min-device-pixel-ratio:0) {
 .icons li#current{
background:url(../images/ico_bg.gif) no-repeat 2px 0;
}
}

/* Main Menu */
.moduletable_lm ul{
list-style:none;
margin:0;
padding:0;
}
.moduletable_lm li{
width:240px;

line-height:28px;
color:#fff;
font-size:12px;
font-family:Arial;
font-weight:bold;
padding:0 0 0 15px;
margin:3px 0;
text-transform:uppercase;
}
.moduletable_lm li a:link,
.moduletable_lm li a:visited,
.moduletable_lm li a:hover{
color:#6e6e6e;
text-decoration:underline;
}
.moduletable_lm li#current,
.moduletable_lm li.parent.active{
background:url(../images/bgmenu.jpg) no-repeat top left;
}
.moduletable_lm li#current a:link,
.moduletable_lm li#current a:visited,
.moduletable_lm li#current a:hover,
.moduletable_lm li.parent.active a:link,
.moduletable_lm li.parent.active a:visited,
.moduletable_lm li.parent.activea:hover{
color:#fff;
text-decoration:none;
}
.moduletable_lm li ul{
position:relative;
display:block;

}
.moduletable_lm li li{font-weight:normal;}
.moduletable_lm li#current li,
.moduletable_lm li.parent.active li{
padding:0;
margin:0;
}
.moduletable_lm li#current li a:link,
.moduletable_lm li#current li a:visited,
.moduletable_lm li#current li a:hover,
.moduletable_lm li.parent.active li a:link,
.moduletable_lm li.parent.active li a:visited,
.moduletable_lm li.parent.active li a:hover{
color:#6e6e6e;
text-transform:none;
margin:0 0 0 20px;
padding:0;
text-decoration:underline;
font-size:13px;
}
.moduletable_lm li li#current{
background:none;
}
.moduletable_lm li li#current a:link,
.moduletable_lm li li#current a:visited,
.moduletable_lm li li#current a:hover{
background:none;
color:#42baff;
text-transform:none;
margin:0 0 0 20px;
padding:0;
text-decoration:none;
font-size:13px;
}
/* Text Elements */
img{border:0}
.componentheading, h1, h2{
font-family:Arial;
font-size:38px;
color:#42baff;
padding:10px 0;
font-weight:normal;
margin:0;
}
.contentheading, h3{
font-size:21px;
padding:0 0 15px 0;
font-weight:normal;
margin:0;
}
a:link,
a:visited,
a:hover{
text-decoration:underline;
color:#0097d3;
}
.contentpaneopen{width:100%;}
/* Search Form */


table.elvsearch{
width:100%;
}
td.searchinput{
background:#eef4f6;
height:50px;
padding:0 13px;
}
div.searchelv_l{
height:25px;
background:url(../images/inp_l.jpg) no-repeat top left;
float:left;
width:89%;
}
input.searchelv{
margin:0 0 0 12px;
height:17px;
float:left;
line-height:17px;
font-size:13px;
padding:4px 0;
background:url(../images/inp.jpg) repeat-x top left;
border:0;
width:95%;
}
div.searchelv_r{
float:left;
height:25px;
width:12px;
background:url(../images/inp_r.jpg) no-repeat top left;
}
.elvbut{
border:0;
width:71px;
height:25px;
background:url(../images/searchb.jpg) no-repeat top left;
}
div.searchresults{
margin-top:10px;
font-size:13px;
color:#0097d3;
}
div.searchresults a:link,
div.searchresults a:visited,
div.searchresults a:hover{
font-size:13px;
color:#0097d3;
text-decoration:underline;
}
.searchresults h2{
font-family:Arial;
font-size:17px;
color:#6e6e6e;
}
.paginationsearch ul{
list-style:none;
margin:0 5px;
padding:0;
float:left;
}
.paginationsearch ul li{
float:left;
margin:0 2px;
}
.paginationsearch ul li span{
display:block;
width:21px;
height:15px;
line-height:15px;
background:#42baff;
color:#fff;
text-align:center;
padding:3px 0;
}
.paginationsearch ul li a span{
display:block;
width:21px;
height:15px;
line-height:15px;
background:#fff;
text-align:center;
color:#0097d3;
padding:3px 0;
text-decoration:underline;
}
.paginationsearch span{
float:left;
line-height:21px;
}

.searchres{
width:100%;
border:2px solid #fff;
font-size:13px;
font-family:Arial;
text-align:center;
margin:5px 0;
}
.searchres td{
color:#6e6e6e;
font-weight:normal;
background:#d8ebf3;
padding:5px 0;
}
.searchres .unc td{
background:#fff;
}
.searchres td.name{
text-align:left;
color:#42baff;
font-weight:normal;
text-decoration:underline;
}
.searchres p{
margin:0 10px;
}

.searchres .title{
width:40%;
height:30px;
background:#a2cee1;
color:#fff;
text-align:left;
font-weight:bold;
}
.searchres .date{
width:12%;
height:30px;
background:#a2cee1;
color:#fff;
text-align:center;
font-weight:bold;
}
.searchres .lastd{
width:12%;
height:30px;
background:#a2cee1;
color:#fff;
text-align:center;
font-weight:bold;
}
.searchres .type{
width:12%;
height:30px;
background:#a2cee1;
color:#fff;
text-align:center;
font-weight:bold;
}

.searchres .region{
width:12%;
height:30px;
background:#a2cee1;
color:#fff;
text-align:center;
font-weight:bold;
}
.searchres .price{
width:12%;
height:30px;
background:#a2cee1;
color:#fff;
text-align:center;
font-weight:bold;
}
a.fullsearch:link,
a.fullsearch:visited,
a.fullsearch:hover{
color:#0097d3;
font-size:13px;
text-decoration:none;
padding:0 10px 0 0;
border-bottom:1px dashed #0097d3;
background:url(../images/arrb.gif) no-repeat 100% 8px;
}
td.searchadds{
background:#eef4f6;
padding:10px;
font-weight:bold;
color:#6e6e6e;
}
td.searchadds span{
font-weight:normal;
color:#0097d3;
}
td.searchadds ul{
list-style:none;
margin:0;
padding:0 0 0 5px;
}
td.searchadds ul li{
padding:3px 0;

}
td.searchadds ul li span{
background:url(../images/arrb.gif) no-repeat 100% 8px;
padding-right:15px;
}
td.searchadds ul li li{
padding-left:20px;
}

/* News Module */
.ndate{
margin:16px 0 0;
color:#4b6772;
font-weight:bold;
font-size:13px;
}
.newintro{
font-size:13px;
text-decoration:underline;
}
.moduletable h3{
margin:20px 0 0;
padding:0;
color:#6e6e6e;
text-transform:uppercase;
padding:0 0 0 20px;
background:url(../images/mth.gif) no-repeat 0 50%;
}
.allnews{
padding-top:30px;
font-size:13px;
padding-left:20px;
background:url(../images/newsico.jpg) no-repeat 0 28px;
}
