<h1>{$title}</h1>
{if $title=="Просмотренные тендеры"}
<br>
<div style="padding: 10px 0px 10px 32px; font-size: 120%; background: transparent url(/i/images/purches_tenders.png) no-repeat scroll left center;">
    <a href="/tenders/?action=user_tenders&task=purc">Приобретенные тендеры</a>
    </div>
<br><br>
{/if}

{$list_tenders}
