<div class="window">
    <div class="border">
        <div class="title">
            <h3></h3>
            <div class="close button"></div>
        </div>
        <div class="content">                
        </div>
    </div>
</div>