<div style="font-size: 20px; text-align: center;">Спасибо, ваша заявка отправлена.</div>

<div style="font-size: 14px;text-align: center;margin: 35px 0 15px 0;"><a href="#" class="close" style="color: red">Закрыть окно</a></div>
